[submodule "src/fw/modem"]
	path = src/fw/modem
	url = https://github.com/DVMProject/dvmfirmware.git
[submodule "src/fw/hotspot"]
	path = src/fw/hotspot
	url = https://github.com/DVMProject/dvmfirmware-hs.git
[submodule "src/fw/v24"]
	path = src/fw/v24
	url = https://github.com/dvmproject/dvmv24.git
