[Unit]
Description=DVMProject Host Radio Service
After=syslog.target network.target

[Service]
User=dvmhost
Type=forking
ExecStart=/opt/dvm/bin/dvmhost -c /opt/dvm/config.yml
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
